* {
    background-color: black;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: white;
    position: absolute;
    top: 0em;
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin-bottom: 2em;
}

.flex {
    display:flex;
    justify-content: space-between;
    text-align: center;
    
}

#color {
    background-color: yellow;
    color: black;
}

